<h1>Gebruiker wijzigen</h1>

<%= render 'form' %>

<%= link_to 'Bekijk', @user %> |
<%# Terug pad naar gebruikersoverzicht alleen voor beheerders anders terug naar eigen profiel %>
<% if can? :manage, :all %>
  <%= link_to 'Terug', users_path %>
<% else %>
  <%= link_to 'Terug', @user %>
<% end %>
