<h1>Gebruiker wijzigen</h1>

<%= render 'form' %>

<%= link_to 'Bekijk', @user %> |
<!-- Back path - looking if the current user can manage users -->
<% if can? :manage, User %>
  <%= link_to 'Terug', users_path %>
<% else %>
  <%= link_to 'Terug', @user %>
<% end %>
