<h2>Over opleidingsinstituut Omega</h2>
<p>Wil jij een cursus of opleiding volgen, maar dan wel in combinatie met een baan en/of gezin? Bij Omega bepaal je zelf waar, wanneer en in welk tempo je studeert.
  We bieden ruim 850 opleidingen aan: van korte cursus tot masteropleiding. Je krijgt les van topdocenten en wordt tijdens je opleiding begeleid door een mentor.
  Bij Omega volg je opleidingen en cursussen van hoge kwaliteit tegen een betaalbare prijs.
</p>
<h3>De organisatie</h3>
<p>
  We leven in een maatschappij waarin van je verwacht wordt dat je steeds nieuwe kennis en vaardigheden tot je neemt.
  Omega voorziet in deze behoefte. Omega biedt ruim 850 opleidingen aan. Van korte cursus tot volledige HBO- en Masteropleiding.
  Met de erkende diploma’s van Omega creëer je voor jezelf meer kansen op de arbeidsmarkt!
</p>
<h3>Geschiedenis</h3>
<p>
  Omega is in de Tweede Wereldoorlog opgericht door Henk van de Pavert. Omega staat voor een uit het as verrijzende phoenix.
  Op zijn zolderkamer schreef hij zelf de cursus Engels waar op dat moment veel vraag naar was.
  Om toestemming van de Duitsers te krijgen voor het starten van zijn bedrijf, werd hij gedwongen ook een cursus Duits aan te gaan bieden.
  Inmiddels is Omega met ruim 850 opleidingen, van korte cursus tot volledige Masteropleiding, uitgegroeid tot een toonaangevende onderwijsinstelling.
</p>

<img src="/assets/classroom.jpg" height="300px" class="index-image"/>
<img src="/assets/building.jpg" height="300px" class="index-image"/>
