*{
  margin:0;
}

p{
  color: black;
  padding:0;
  margin:0;
}

#alert, #notice{
  color:rgba(255, 255, 255, 1);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  background-color: rgba(128, 0, 0, 1);
  width:100%;
  text-align: center;
  border-radius: 15px 15px;
  display:none;
}

.beheerder{
  text-shadow:2px 2px 2px rgba(255, 0, 0, 0.5);
}

.medewerker{
  text-shadow:2px 2px 2px rgba(255, 255, 0, 0.5);
}

/* Menu */
#menu{
  float:left;
  width:15%;
  height:100vh;
  background-color: rgba(0, 0, 0, 1);
}

.menu{
  float:left;
  width:100%;
  height:100vh;
  background-color: rgba(255, 0, 0, 0.5);
  border-radius:0px 15px 15px 0px;
}

ul .list-group{
  background-color:yellow;
  border: none;
}

.list-group-item{
  background-color: #808080;
  font-size:1.8vh;
  color: black;
}

.list-group-item a{
  color: #800000;
  margin-left:1%;
}

.list-group-item a:hover{
  text-shadow: 1px 0px 18px #FFFFFF;
}

.menu p{
  font-size: 1.8vh;
  bottom:0;
  position: fixed;
  margin-left: 3.5vw;
}

/* Header */
#header{
  background-color: black;
  width:100vw;
  height:15vh;
  /*border-bottom: 1px solid rgba(255, 0, 0, 0.5);*/
}

.head{
  width:85vw;
  height:15vh;
  float:right;
}



.head-logo{
  float:left;
}

.head-logo img{
  float: left;
  width: 7vw;
  margin-top: 3vh;
  margin-left:4vw;
}

.head-logo h1{
  color:rgba(255, 0, 0, 0.5);
  font-size:4vh;
  margin-top:5vh;
  margin-left: 1vw;
  float:left;

}

.head-login{
  float:right;
  height:3vh;
  margin-right:4.4vw;
  margin-top:5vh;
  font-size: 2vh;
}


#main-button{
  background-color:rgba(128, 0, 0, 1);
  border: 1px solid white;
  border-radius: 5px;
}

#button-part{
  background-color:rgba(128, 0, 0, 1);
  border-left: 1px solid white;
  border-right: 1px solid white;
}

#button-part, #button-part a{
  font-size: 2vh;
  color:white;
}

#main-button a:hover{
  text-decoration: none;
  text-shadow: 1px 0px 18px #FFFFFF;
  color:rgba(255, 255, 255, 0.5);
}

#dropdown-test, #dropdown-test a{
  color:black;
}

#dropdown-test{
  width:100%;
}

#dropdown-test a{
  font-size: 1.8vh;

}

#dropdown-test a:hover{
  color:black;

}

#main-button li{
  text-align: center;

}

#main-button li:hover{
background-color: rgba(0, 0, 0, 0.2);
}





/* Main */
#content{
  background-color: black;
  background-size: cover;
  width:85%;
  height:85vh;
  float:left;
}

.content{
  background-color: rgba(255, 255, 255, 0.5);
  width: 90%;
  height: auto;
  min-height:50vh;
  border-radius: 15px 15px;
  margin-left: 5%;
  padding: 10px 20px 10px 20px;
  font-size: 2vh;
  color:black;
}

.content h1, .content h2{
  color: rgba(128, 0, 0, 1);
}

.content a{
  color: rgba(128, 0, 0, 1);
}

.content a:hover{
  color: rgba(102, 0, 0, 1);
	text-shadow: 1px 0px 18px #FFFFFF;
  text-decoration: none;
}

.index-image{
  margin-left:10vw;
  box-shadow: 10px 10px 18px #000000;
  border-radius:15px;
  transition: 1s;
}

.index-image:hover{
  height:35vh;
  transition: 1s;
}

/* Courses */
.index-title{
  float:left;
}

.index-new{
  float:right;
  margin-top:2.8vh;
}

.index-table{
  margin-left:auto;
  margin-right:auto;
  clear:both;
}

.index-table th, .index-table td{
  padding:10px;
  text-align: center;
}

.index-table tbody tr:hover{
  background-color: rgba(0, 0, 0, 0.1);
}

.blue{
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 2px rgba(0, 0, 0, 0.2);
}

td i p{
  font-size:12px;
  color: rgba(128, 0, 0, 1);
}

/* Contact */
.contact-section{
  margin-left:30%;
}

#contact-left, #contact-right{
  width:30%;
  float:left;
}

#contact-left{
  margin-left:2%;
}

#contact-left td, #contact-right td{
  padding-top:5px;
}

#contact-right{
  margin-left:2%;
}

#map{
  margin-top:12.1%;
  height: 25vh;
  width:102.7%;
  margin-left:-1vw;
  margin-bottom:-5vh;
  opacity:0.4;
  border-radius:0px 0px 15px 15px;
  transition: 1s;
}

#map:hover{
  opacity: 0.8;
  transition: 1s;
}
